@import url('../general.css');

.wrapper header {
    display: block;
    align-items: center;
    padding: 10px 25px;
    font: sans-serif;
    border-bottom: 1px solid #ccc;
    background-color: #f7f7f7;
    border-radius: 15px 15px 0px 0px;
}

    .wrapper header p {
        font-style: italic;
        color: #808080;
    }

.form-group {
    padding: 0px 25px;
    display: flex;
    margin-bottom: 10px;
    flex-direction: column;
    position: relative;
}
.form-group {
    margin-bottom: 2px;
}
.form-group input {
    width: 100%;
    height: 40px;
    font-size: 16px;
    padding: 0 10px;
    border-radius: 0px;
    border: 0px;
    outline: none;
    border-bottom: 1px solid #ccc;
    transition: all 0.3s ease;
}
.form-group input:focus {
    outline: none;
    border: 0px;
    border-bottom: 1px solid #333;
}

.form-group .link {
    position: relative;
    font-size: 17px;
}
a {
    margin: 0 auto;
    font-weight: bold;
}
a:hover {
    color: #333;
    text-decoration: underline;
    animation: none;
}
