@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;400&display=swap');
@import url('../general.css');

#my-status-indicator{
    color: green;
}

.wrapper{
    min-height: 300px;
}

.user-page{
    width: 400px;
    background-color: white;
    padding: 25px;
    margin: auto;
    border-radius: 10px;
}

.accountbutton {
    cursor: pointer;
    display: block;
    text-decoration: none;
    color: inherit;
}

.user-page .account{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #e6e6e6;
}

.user-page .account .account-info{
    display: flex;
    margin: auto 0;
    padding-bottom: 10px;
}

.user-page .account .my-account-info{
    display: flex;
    margin: auto 0;
    margin-bottom: 2px;
}

.content{
    padding-left: 15px;
    margin: auto;
    font-size: 0.9rem;
}

.content #caption{
    color: #333;
    font-style: italic;
}

.user-page .account .account-info .content p {
    margin: 5px 0;
    font-size: 0.8rem;
    color: #333;
    font-style: italic;
}

.image-icon{
    height: 50px;
    width: 50px;
    object-fit: cover;
    border-radius: 50%;
}

.user-page .account #logout-button{
    color: #fff;
    background-color: #333;
    padding: 5px 10px;
    font-size: 17px;
    border-radius: 5px;
    text-decoration: none;
    transition: ease-out 0.3s;
}

.user-page .account #pen-button{
    color: #fff;
    background-color: #333;
    padding: 4px;
    font-size: 0.8rem;
    border-radius: 5px;
    text-decoration: none;
    transition: ease-out 0.3s;
    margin: 0 5px;
    border: 1px solid #333;
    cursor: pointer;
}

.user-page .account #logout-button:hover{
    background-color: white;
    color: #333;
    border: #333 1px solid;
}

.user-page .account #pen-button:hover{
    background-color: white;
    color: #333;
    border: #333 1px solid;
}

.user-page .search{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.user-page .search input{
    box-sizing: content-box; 
    margin-top: 10px;
    min-height: 30px;
    width: calc(95% - 30px);
    border: 1px solid #ccc;
    border-right: none;
    font-size: 16px;
    border-radius: 5px 0 0 5px;
    margin: auto 0;
    padding: 5px;
}
 
.user-page .search input:focus{
    outline: none;
}


.user-page .search button{
    width: 42px;
    height: 42px;
    border: none;
    color: #fff;
    border: 1px solid #ccc;
    background-color: #333;
    cursor: pointer;
    border-radius: 0 5px 5px 0;
    margin: 0;
    padding: 0;
    transition: ease-in 0.2s;
}

.user-page .search button:hover{
    color: #333;
    background-color: whitesmoke;
    border: #333 1px solid;
    
}

.user-list .account{
    margin-top: 10px;
}

.user-list {
    flex-direction: column;
    max-height: 600px;
    overflow: auto;
}

.user-list h4{
    padding-top: 10px;
}

.button{
    display: flex;
    flex-direction: column;
}

.button a{
    margin: 3px;
}

.input-group{
    margin-top: 30px;
}

/* Model */
/* The Modal (background) */
#myModal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
    border-radius: 20px;
  }

  .modal-header{
      display: flex;
      border: 0px;
      padding: 1rem;
  }

  .modal-header h4{
    display: flex;
}

  .close {
    float: right;
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: .5;
    border: 0px;
    background-color: #fff;
}

.close:hover {
    opacity: 1;
    transition: ease-in 0.3s;
}