@import url('../general.css');

.form{
    padding: 20px 20px;
}
.form header{
    font-size: 25px;
    font-weight: 600;
    padding-bottom: 10px;
    border-bottom: 1px solid #e6e6e6;
    text-align: center;
  }

.form form{
    margin: 25px 0;
}

  .form form .error{
    color: #751c25;
    padding: 8px 10px;
    text-align: center;
    border-radius: 5px;
    background: #f0d0d3;
    border: 1px solid #eec1c5;
    margin-bottom: 10px;
    display: none; /*remove*/
  }

  .form form .show{
    display: block; /*remove*/
  }
 
  .form form .name{
    display: flex;
  }
  .form .name .f:first-child{
    margin-right: 10px;
  }
  .form .name .f:last-child{
    margin-left: 10px;
  }

  .form form .f{
    display: flex;
    margin-bottom: 10px;
    flex-direction: column;
    position: relative;
  }
  .form form .f label{
    margin-bottom: 2px;
  }
  .form form .f input{
    width: 100%;
    height: 40px;
    font-size: 16px;
    padding: 0 10px;
    border-radius: 0px;
    border: 0px;
    outline: none;
    border-bottom: 1px solid #ccc;
    transition: all 0.3s ease;
  }
  .form form .f input:focus{
    outline: none;
    border: 0px;
    border-bottom: 1px solid #333;
  }

  .form form .image input{
    font-size: 17px;
  }
  .form form .button input{
    height: 45px;
    border: none;
    color: #fff;
    font-size: 17px;
    background: #333;
    border-radius: 15px;
    cursor: pointer;
    margin-top: 13px;
  }
  .form form .button input:hover{
    background: rgb(116, 116, 116);
  }

  .form form .f #eye{
    position: absolute;
    right: 15px;
    top: 70%;
    color: #ccc;
    cursor: pointer;
    transform: translateY(-50%);

  }
  .form form .f #eye:active::before{
    color: rgb(110, 110, 110);
    content: "\f06e";
  }
  .form .link{
    margin: 10px 0;
    text-align: center;
    position: relative;
    font-size: 17px; 
  }
  a{
    color: transparent;
    background: linear-gradient(to right,#333,rgb(255, 255, 255),#333);
    -webkit-background-clip: text;
    background-size: 80%;
    animation: text 2s linear infinite;
  }
  a:hover{
    color: #333;
    text-decoration: underline;
    animation: none;
  }
  @keyframes text {
    0%{
      background-position: -200%;
    }
    100%{
      background-position: 200%;
    }
  }
  
  @keyframes show {
    0%{
      opacity: 0;
      filter: blur(50px);
    }
    100%{
      opacity: 100;
    }
  }
